include:
 - project: 'ProtonVPN/Linux/new-client/integration/ci-libraries'
   ref: develop
   file: 'gitlab-ci-build-publish-debian.yml'
 - project: 'ProtonVPN/Linux/new-client/integration/ci-libraries'
   ref: develop
   file: 'gitlab-ci-build-publish-fedora.yml'
 - project: 'ProtonVPN/Linux/new-client/integration/ci-libraries'
   ref: develop
   file: 'gitlab-ci-build-publish-pypi.yml'
 - project: 'ProtonVPN/Linux/new-client/integration/ci-libraries'
   ref: develop
   file: 'gitlab-ci-unit-tests-debian.yml'

stages:
  - unit-tests
  - publish-pypi
  - build
  - publish