build/
dist/
MANIFEST
*.pyc
*.egg-info/
.vscode/
*.lock
__SOURCE_APP
.env
cov.xml
html
.vscode
.coverage
.idea
venv
package.spec
changelog
CHANGELOG.md
target
.idea
**/*.deb
**/*.changes
**/*.buildinfo
**/venv
tests/*.json
*.pcap
sourceme*.sh
configs/*.conf
