[submodule "python-proton-vpn-base/scripts/devtools"]
	path = python-proton-vpn-lib/scripts/devtools
	url = git@gitlab.protontech.ch:ProtonVPN/linux/integration/devtools.git
[submodule "ci-libraries-rust"]
	path = ci-libraries-rust
	url = git@gitlab.protontech.ch:ProtonVPN/linux/integration/ci-libraries-rust.git
