%define unmangled_name proton-vpn-linux
%define version {version}
%define release 1

Prefix: %{{_prefix}}

Name: %{{unmangled_name}}
Version: %{{version}}
Release: %{{release}}%{{?dist}}
Summary: %{{unmangled_name}} library

Group: ProtonVPN
License: GPLv3
Vendor: Proton AG <opensource@proton.me>
URL: https://github.com/ProtonVPN/%{{unmangled_name}}
Source0: %{{unmangled_name}}-%{{version}}.tar.gz

%define debug_package %{{nil}}

BuildRequires: python3-setuptools
BuildRequires: python3-distro

Requires: python3 >= {CPYTHON_VERSION}
Conflicts: python3-proton-vpn-api-core < 5.0.0

%description
Package %{{unmangled_name}} library.

%prep
%setup -n %{{unmangled_name}}-%{{version}} -n %{{unmangled_name}}-%{{version}}

%build
python3 setup.py build

%install
python3 setup.py install --single-version-externally-managed -O1 --root=$RPM_BUILD_ROOT --record=INSTALLED_FILES
install -D -m 755 nm-protun-service $RPM_BUILD_ROOT/usr/libexec/nm-protun-service
install -D -m 755 nm-protun-auth-dialog $RPM_BUILD_ROOT/usr/libexec/nm-protun-auth-dialog
install -d $RPM_BUILD_ROOT/usr/lib/NetworkManager/VPN
sed -e 's|program=.*|program=/usr/libexec/nm-protun-service|' \
    -e 's|auth-dialog=.*|auth-dialog=/usr/libexec/nm-protun-auth-dialog|' \
    nm-protun.name > $RPM_BUILD_ROOT/usr/lib/NetworkManager/VPN/nm-protun.name
install -D -m 644 nm-protun-service.conf $RPM_BUILD_ROOT/usr/share/dbus-1/system.d/nm-protun-service.conf


%files -f INSTALLED_FILES
%defattr(-,root,root)
/usr/libexec/nm-protun-service
/usr/libexec/nm-protun-auth-dialog
/usr/lib/NetworkManager/VPN/nm-protun.name
/usr/share/dbus-1/system.d/nm-protun-service.conf

%postun
# Runs after the old package is removed.
# Restarts the protun service.
killall nm-protun-service || true

%post
# Runs after the new package is installed. Only required if the previous package
# still didn't have the %postun hook to restart the protun service.
killall nm-protun-service || true

%changelog
