Source: proton-vpn-linux
Maintainer: Proton AG <opensource@proton.me>
Build-Depends: debhelper (>= 9), dh-python, python3-setuptools,
    python3-distro, python3-all

Package: proton-vpn-linux
Architecture: {{architecture}}
Depends:  ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}
Section: utils
Priority: optional
Description: Proton VPN linux client Module
 A python module which will contain the heart of the rust component of the linux client.
