Source: proton-vpn-api-core
Section: python
Priority: optional
Maintainer: Proton Technologies AG <opensource@proton.me>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools, python3-proton-vpn-servers, python3-proton-vpn-session, python3-proton-vpn-connection, python3-proton-vpn-killswitch, python3-distro
Standards-Version: 4.1.1
X-Python3-Version: >= 3.2

Package: python3-proton-vpn-api-core
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-proton-vpn-servers, python3-proton-vpn-session, python3-proton-vpn-connection, python3-proton-vpn-killswitch, python3-distro
Description: Python3 ProtonVPN Network Manager OpenVPN Core API