Source: proton-vpn-api-core
Section: python
Priority: optional
Maintainer: Proton AG <opensource@proton.me>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools,
    python3-proton-core,
    python3-distro, python3-sentry-sdk, python3-nacl, python3-jinja2
Standards-Version: 4.1.1
X-Python3-Version: >= 3.8

Package: python3-proton-vpn-api-core
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
    python3-proton-core,
    python3-distro, python3-sentry-sdk, python3-nacl, python3-jinja2
Breaks: proton-vpn-gtk-app (<< 4.4.2~rc6), python3-proton-vpn-network-manager (<< 0.9.1)
Replaces: python3-proton-vpn-session, python3-proton-vpn-connection, python3-proton-vpn-killswitch, python3-proton-vpn-logger
Description: Python3 ProtonVPN Core API
